a {
	outline:none;
}
a img {
	border: none;
} 
#legend a{
	text-decoration:none;	
}

#map, #container {
	height: 700px;
	width: 785px;
}

.marker-cluster{
	background-color: rgba(94, 181, 0, 0.6);
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	background-color: rgba(181, 226, 140, 1);
	/*
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-left: 4px;
	margin-top: 10px;*/
}

#mapinfo .dataPane {
	float: right;
	clear: right;
}

#mapinfo .graph{
	float:left;
}
#mapinfo img{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align:middle;
	
}

#mapinfo p{
	font-size: 0.8em;
}

.ui-widget, .ui-tooltip-content {
	font-size: 0.6em;
}

#legend div{
	font-size: 0.6em;
}

#legend div:nth-child(odd){
	float:left;
	clear:left;
	text-align:center;
	width:10em;
}

#legend div:nth-child(even){
	float:right;
	clear:right;
	width:2em;
	height:1em;
}

#bookmark {
	font-size: 0.8em;
}


#bookmark img{
	margin-left: 5px;
	margin-right:5px;
}

#bookmark input{
	width:95%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-close .ui-dialog-content {
  display: none;
}


